body {
	background-color: #000;
}

.container {
	min-width: 1000px;
	max-width: 1000px;
}

.main .slides {
	width: 600px;
	overflow: hidden;
}

.slides .kingdom {
	position: relative;
}

.slides .dragons-lair {
	position: relative;
}

.progress-bar {
	border-radius: 5px;
}

.progressContainer {
	position: fixed;
	height: 20px;
	margin-top: 20px;
	width: 600px;
	border: 2px solid #fff;
	border-radius: 2px;
	border-radius: 5px;
}

.playerHPContainer {
	min-width: 170px;
	height: 20px;
	border: 2px solid #fff;
	border-radius: 5px;
}

.combatMenu {
	position: fixed;
	margin-left: 100px;
	margin-top: 300px;
}

.narrative, {
	position: fixed;
}

.go-left, .go-right, .slides, .status {
	display: inline-block;
}

.go-left, .go-right {
	position: relative;
	font-size: 80px;
	width: 80px;
	color: #fff;
}

.status {
	position: relative;
	width: 170px;
	margin-left: 20px;
	color: #fff;
}

.status p {
	margin-bottom: 0;
}

.narrative {
	position: fixed;
	height: 280px;
	width: 400px;
	background-color: #fff;
	border-style: solid;
	border-color: #cc7835;
	border-width: 0 10px 10px 10px;
	background-color: #f9eade;
	padding: 20px;
	z-index: 1;
}

button {
	height: 45px;
}

.narrativeContainer {
	margin-left: 100px;
}

.narrative button {
	width: 100%;
}

::-webkit-scrollbar {
	/*hides scrollbar*/
    display: none; 
}